<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-email-heading" jhiTranslate="ampApp.email.home.createOrEditLabel">Create or edit a Email</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!email.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="email.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ampApp.email.plainText" for="field_plainText">Plain Text</label>
                    <textarea class="form-control" name="plainText" id="field_plainText"
                        [(ngModel)]="email.plainText" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ampApp.email.htmlContent" for="field_htmlContent">Html Content</label>
                    <textarea class="form-control" name="htmlContent" id="field_htmlContent"
                        [(ngModel)]="email.htmlContent" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ampApp.email.ampContent" for="field_ampContent">Amp Content</label>
                    <textarea class="form-control" name="ampContent" id="field_ampContent"
                        [(ngModel)]="email.ampContent" ></textarea>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
