<div>
    <h2 id="page-heading">
        <span jhiTranslate="ampApp.email.home.title">Emails</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-email" [routerLink]="['/email/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ampApp.email.home.createLabel">
            Create new Email
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="emails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ampApp.email.plainText">Plain Text</span></th>
            <th><span jhiTranslate="ampApp.email.htmlContent">Html Content</span></th>
            <th><span jhiTranslate="ampApp.email.ampContent">Amp Content</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let email of emails ;trackBy: trackId">
                <td><a [routerLink]="['/email', email.id, 'view' ]">{{email.id}}</a></td>
                <td>{{email.plainText}}</td>
                <td>{{email.htmlContent}}</td>
                <td>{{email.ampContent}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/email', email.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/email', email.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'email', { outlets: { popup: email.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
