<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="email">
            <h2><span jhiTranslate="ampApp.email.detail.title">Email</span> {{email.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ampApp.email.plainText">Plain Text</span></dt>
                <dd>
                    <span>{{email.plainText}}</span>
                </dd>
                <dt><span jhiTranslate="ampApp.email.htmlContent">Html Content</span></dt>
                <dd>
                    <span>{{email.htmlContent}}</span>
                </dd>
                <dt><span jhiTranslate="ampApp.email.ampContent">Amp Content</span></dt>
                <dd>
                    <span>{{email.ampContent}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/email', email.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
